@model ProjectManagerMVC.Models.TaskManagerViewModels.Maintainance_Task

@{
    ViewData["Title"] = "Opgave Detaljer";
}

<h2>Mere Information</h2>

<div>
    <h4>Opgave Information</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.ApprovedComplete)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApprovedComplete)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
                
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApprovedDate)
        </dd>
        @if (Model.StartDate != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>
        }

        @if (Model.Deadline != null)
        {
        <dt>
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        }

        @if (Model.CompletionDate != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.CompletionDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CompletionDate)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Staff)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staff.FirstName) @Html.DisplayFor(model => model.Staff.Surname)
        </dd>
 
        <dt>
            @Html.DisplayNameFor(model => model.IsPriority)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPriority)
        </dd>


        @if (Model.Price != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
        }

        <dt>@Html.DisplayNameFor(model => model.Status)</dt>
        <dd>@Html.DisplayFor(model => model.Status.Status_Name)</dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Rediger</a> |
    <a asp-action="Index">Tilbage</a>
    @if (Model.StatusId == 3) //We only want to show if relevant.
    {
        <span>|</span>
        <a asp-action="ApproveComplete" asp-route-id="@Model.ID">Godkend</a>
    }
</div>
