@model IEnumerable<ProjectManagerMVC.Models.TaskManagerViewModels.Maintainance_Task>

@{
    ViewData["Title"] = "Opgaver";
}

<h2>Opgave Liste</h2>

<p>
    <a class="btn btn-info" asp-action="Create">Ny Opgave</a>
</p>

<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th class="vertical-table"></th>
            <th>
                <h4>@Html.DisplayNameFor(model => model.Name)</h4>
            </th>
            <th>
                <h4>@Html.DisplayNameFor(model => model.Description)</h4>
            </th>
            <th>
                <h4>@Html.DisplayNameFor(model => model.StartDate)</h4>
            </th>
            <th>
                <h4>@Html.DisplayNameFor(model => model.Staff)</h4>
            </th>
            <th class="vertical-table">
                <img src="~/images/InProgress.png" />
            </th>
            <th class="vertical-table">
                <img src="~/images/Standby.png" />
            </th>
            <th class="vertical-table">
                <img src="~/images/Complete.png" />
            </th>
            <th class="vertical-table">
                <img src="~/images/AwaitingApproval.png" />
            </th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model)
{
        <tr>
            <td>
                @*<a class="btn btn-default" asp-action="Edit" asp-route-id="@item.ID">Rediger</a>*@
                <a class="" asp-action="Details" asp-route-id="@item.ID">Detaljer</a>
                @*<a asp-action="Delete" asp-route-id="@item.ID">Slet</a>*@
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Staff.FirstName) @Html.DisplayFor(modelitem => item.Staff.Surname)
            </td>
            @if (item.Status != null)
            {
                @switch (item.Status.Status_ID)
                {
                    case 1: //If Status == InProgress
                        <td style="background-color:purple"></td>
                        <td><a class="btn btn-info" asp-action="UpdateStatus" asp-route-id="@item.ID" asp-route-newstatus="2"></a></td>
                        <td><a class="btn btn-info" asp-action="UpdateStatus" asp-route-id="@item.ID" asp-route-newstatus="3"></a></td>
                        <td><a class="btn btn-info" asp-action="UpdateStatus" asp-route-id="@item.ID" asp-route-newstatus="4"></a></td>
                        break;
                    case 2: //If Status == Standby
                        <td><a class="btn btn-info" asp-action="UpdateStatus" asp-route-id="@item.ID" asp-route-newstatus="1"></a></td>
                        <td style="background-color:yellow"></td>
                        <td><a class="btn btn-info" asp-action="UpdateStatus" asp-route-id="@item.ID" asp-route-newstatus="3"></a></td>
                        <td><a class="btn btn-info" asp-action="UpdateStatus" asp-route-id="@item.ID" asp-route-newstatus="4"></a></td>
                        break;
                    case 3://If Status == Complete
                        <td><a class="btn btn-info" asp-action="UpdateStatus" asp-route-id="@item.ID" asp-route-newstatus="1"></a></td>
                        <td><a class="btn btn-info" asp-action="UpdateStatus" asp-route-id="@item.ID" asp-route-newstatus="2"></a></td>
                        <td style="background-color:green"></td>
                        <td><a class="btn btn-info" asp-action="UpdateStatus" asp-route-id="@item.ID" asp-route-newstatus="4"></a></td>
                        break;
                    case 4://If Status == AwaitingApproval
                        <td><a class="btn btn-info" asp-action="UpdateStatus" asp-route-id="@item.ID" asp-route-newstatus="1"></a></td>
                        <td><a class="btn btn-info" asp-action="UpdateStatus" asp-route-id="@item.ID" asp-route-newstatus="2"></a></td>
                        <td><a class="btn btn-info" asp-action="UpdateStatus" asp-route-id="@item.ID" asp-route-newstatus="3"></a></td>
                        <td style="background-color:red"></td>
                        break;

                    default: //We should only hit this is there is no status? Which shouldn't be a thing.
                        <td>x</td>
                        <td>x</td>
                        <td>x</td>
                        <td>x</td>
                        break;
                }
            }
                
        </tr>
}
    </tbody>
</table>
